<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phfElecReport.sql">
	<!-- 根据条件查询列表 --> 
	<select id="getPhfElecReportListByParams" resultType="com.hhwy.purchase.domain.PhfElecReport">
		select
			ID id,
			ym ym,
			center_id centerId,
			reporting_interval reportingInterval,
			interval_prop intervalProp,
			org_no orgNo		
		from ph_f_elec_report where 1=1
		<if test="phfElecReport != null and phfElecReport.ym != null and phfElecReport.ym != ''">
			and ym = #{phfElecReport.ym}
		</if>
		<if test="phfElecReport != null and phfElecReport.centerId != null and phfElecReport.centerId != ''">
			and center_id = #{phfElecReport.centerId}
		</if>
		<if test="phfElecReport != null and phfElecReport.reportingInterval != null and phfElecReport.reportingInterval != ''">
			and reporting_interval = #{phfElecReport.reportingInterval}
		</if>
		<if test="phfElecReport != null and phfElecReport.intervalProp != null and phfElecReport.intervalProp != ''">
			and interval_prop = #{phfElecReport.intervalProp}
		</if>
		<if test="phfElecReport != null and phfElecReport.orgNo != null and phfElecReport.orgNo != ''">
			and org_no = #{phfElecReport.orgNo}
		</if>
		order by create_time desc
		<if test="pagingFlag==true">
			limit #{startIndex},#{rowCount}
		</if>
	</select>
	
	<!-- 根据条件查询数量 -->
	<select id="getPhfElecReportCountByParams" resultType="int">
		select count(1)	from ph_f_elec_report where 1=1
		<if test="phfElecReport != null and phfElecReport.ym != null and phfElecReport.ym != ''">
			and ym = #{phfElecReport.ym}
		</if>
		<if test="phfElecReport != null and phfElecReport.centerId != null and phfElecReport.centerId != ''">
			and center_id = #{phfElecReport.centerId}
		</if>
		<if test="phfElecReport != null and phfElecReport.reportingInterval != null and phfElecReport.reportingInterval != ''">
			and reporting_interval = #{phfElecReport.reportingInterval}
		</if>
		<if test="phfElecReport != null and phfElecReport.intervalProp != null and phfElecReport.intervalProp != ''">
			and interval_prop = #{phfElecReport.intervalProp}
		</if>
		<if test="phfElecReport != null and phfElecReport.orgNo != null and phfElecReport.orgNo != ''">
			and org_no = #{phfElecReport.orgNo}
		</if>
	</select>
	
	<delete id="deleteInfo">
	    DELETE FROM ph_f_elec_report WHERE center_id=#{id}; 
	</delete>
</mapper>