<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smConsWarningInfo.sql">
	<!-- 根据条件查询列表 -->
	<select id="getSmConsWarningInfoListByParams" resultType="com.hhwy.selling.domain.SmConsWarningInfo">
		select
			ID id,
			rule_id ruleId,
			min_prop minProp,
			max_prop maxProp,
			warn_prompt warnPrompt,
			warn_type warnType,
			org_no orgNo		
		from s_m_cons_warning_info where 1=1
		<if test="smConsWarningInfo != null and smConsWarningInfo.ruleId != null and smConsWarningInfo.ruleId != ''">
			and rule_id = #{smConsWarningInfo.ruleId}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.minProp != null and smConsWarningInfo.minProp != ''">
			and min_prop = #{smConsWarningInfo.minProp}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.maxProp != null and smConsWarningInfo.maxProp != ''">
			and max_prop = #{smConsWarningInfo.maxProp}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.warnPrompt != null and smConsWarningInfo.warnPrompt != ''">
			and warn_prompt = #{smConsWarningInfo.warnPrompt}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.warnType != null and smConsWarningInfo.warnType != ''">
			and warn_type = #{smConsWarningInfo.warnType}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.orgNo != null and smConsWarningInfo.orgNo != ''">
			and org_no = #{smConsWarningInfo.orgNo}
		</if>
		order by min_prop ASC
		<if test="pagingFlag==true">
			limit #{startIndex},#{rowCount}
		</if>
	</select>
	
	<!-- 根据条件查询数量 -->
	<select id="getSmConsWarningInfoCountByParams" resultType="int">
		select count(1)	from s_m_cons_warning_info where 1=1
		<if test="smConsWarningInfo != null and smConsWarningInfo.ruleId != null and smConsWarningInfo.ruleId != ''">
			and rule_id = #{smConsWarningInfo.ruleId}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.minProp != null and smConsWarningInfo.minProp != ''">
			and min_prop = #{smConsWarningInfo.minProp}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.maxProp != null and smConsWarningInfo.maxProp != ''">
			and max_prop = #{smConsWarningInfo.maxProp}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.warnPrompt != null and smConsWarningInfo.warnPrompt != ''">
			and warn_prompt = #{smConsWarningInfo.warnPrompt}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.warnType != null and smConsWarningInfo.warnType != ''">
			and warn_type = #{smConsWarningInfo.warnType}
		</if>
		<if test="smConsWarningInfo != null and smConsWarningInfo.orgNo != null and smConsWarningInfo.orgNo != ''">
			and org_no = #{smConsWarningInfo.orgNo}
		</if>
	</select>
</mapper>