<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scConsDate.sql">
	<!-- 根据条件查询列表 -->
	<select id="getScConsDateListByConsId" resultType="com.hhwy.selling.domain.ScConsDate">
		select
			ID id,
			cons_id consId,
			ym ym,
			date date,
			org_no orgNo
		from s_c_cons_date where cons_id = #{consId}
		order by ym desc
		<if test="pagingFlag==true">
			limit #{startIndex},#{rowCount}
		</if>
	</select>
	
	<!-- 根据条件查询数量 -->
	<select id="getScConsDateCountByConsId" resultType="int">
		select count(1)	
		from s_c_cons_date where cons_id = #{consId}
	</select>
	
	<!-- 根据实体类判断重复 -->
	<select id="validateRepeat"  resultType="int">
		select count(1)	from s_c_cons_date 
		where cons_id = #{consId}
			and ym = #{ym}
		<if test="id != null and id != ''">
			and id != #{id}
		</if>
	</select>
	<!-- 根据用户id、ym(yyyyMM格式)，返回此年月相关的例日信息 -->
	<select id="getUsuallyDateByConsId" resultType="com.hhwy.selling.domain.ScConsDate">
			(select
				ID id,
				cons_id consId,
				ym ym,
				date date
			from s_c_cons_date 
			where  cons_id = #{consId}
				and #{ym} &gt; ym
			order by ym desc
			limit 0,1)
		union all
			(select
				ID id,
				cons_id consId,
				ym ym,
				date date
			from s_c_cons_date 
			where  cons_id = #{consId}
				and #{ym} = ym)
	</select>
	<!-- 根据用户id、ym(yyyyMM格式)，返回之后的例日信息 -->
	<select id="getNextDateYm" resultType="string">
			select
				ym
			from s_c_cons_date 
			where  cons_id = #{consId}
				and #{ym} &lt; ym
			order by ym asc
			limit 1
	</select>
	<!-- 根据用户id获取最新的例日信息 -->
	<select id="getLastScConsDateByConsId" resultType="com.hhwy.purchaseweb.archives.scconsdate.domain.ScConsDateDetail">
			select
				ID id,
				cons_id consId,
				ym ym,
				date date,
				org_no orgNo
			from s_c_cons_date
			where  cons_id = #{consId}
			order by ym desc
			limit 1
	</select>
	
	<delete id="deleteScConsDateByConsId">
		delete from s_c_cons_date 
		where 
		cons_id IN 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
	 			#{item} 
	 		</foreach>
	</delete>
	
</mapper>